<section>
    <section class="quest">
        <section class="objective">
            <header><span>QUEST:</span> {{objective.name}}</header>
            <p><span>YOU HAVE:</span> {{objective.deadline}} {{objective.units}}</p>
            <p>{{objective.description}}</p>
        </section>
        <section class="friends">
            <img src="img/quest-panel-right.png">
        </section>
    </section>
    <section class="milestones">
        <div class="timeline"></div>
        <ul class="time-line">
            <li data-ng-repeat="milestone in objective.milestones" class="milestone tail{{$index}}" data-ng-class="{'right': isFriend(milestone)}">
                <span class="marker"></span>
                <div class="image-container">
                    <img data-ng-src="{{milestone.url}}" data-ng-show="milestone.url" width="434" height="347" />
                    <span class="post-like">
                        <a data-ng-click="addLike(milestone)">
                            <i class="icon-heart-empty icon-1x"></i>{{milestone.likeCount}}</span>
                        </a>
                    </span>
                </div>
                <ul class="comments">
                    <li data-ng-repeat="comment in milestone.comments" class="comment">
                        <header>{{comment.message}}</header>
                        <p>{{comment.author.firstName}} {{comment.author.lastName}} - {{comment.date}}</p>
                    </li>
                </ul>
                <form name="commentsForm">
                    <div class="input-append">
                        <input class="span4" name="commentIn" type="text" data-ng-model="milestone.nextComment" placeholder="Your comment">
                        <button class="btn" data-ng-click="submitComment(milestone, milestone.nextComment)"><i class="icon-plus"></i> add</button>
                    </div>
                </form>
            </li>
        </ul>
    </section>
</section>