<section>
    <header>{{user.firstName}} {{user.lastName}}</header>
    <ul>
        <li data-ng-repeat="objective in objectives">
            <a href="#/objective/{{objective.id}}" title="go to {{objective.name}}">
                <p>{{objective.name}}</p>
                <p>{{objective.description}}</p>
            </a>
        </li>
    </ul>
</section>