.big-navbar { height:80px; }

body {
    padding-top: 75px; /* When using the navbar-top-fixed */
    background-attachment: scroll;
    background-color: #EBE8D4;
    background-image: url("http://www.tienvooracht.nl/themes/sann/wp-content/uploads/2012/09/bg.png");
    background-position: left top;
    background-repeat: repeat;
}

ul {
    width: 100%;
    list-style: none;
}

.navbar-inner {
    background-color: #31282b; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.navbar .nav > li > a {
    color: black;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    font-family: Noticia Text,sans-serif;
    font-size: 22px;
}

.slogan {
    float: left;
    color: #666;
    font-size: 18px;
    position: relative;
    top: 40px;
    left: -20px;
    font-family: Arial;
    font-style: italic;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.quest {
    width: 100%;
    font-size: 1.2em;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0px;
}
.quest .objective {
    width: 500px;
    text-align: left;
    margin-left: 185px;
    line-height: 1.5em;
    float: left;
}
.quest .objective span {
    font-family: Impact;
    padding-right: 10px;
    font-weight: 900;
}
.quest .objective header{
    font-size: 20px;
}

.quest .friends {
    text-align: left;
}

.milestones {
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    min-height: 1000px;
}
.timeline {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.08);
    height: 100%;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 0;
}
.milestones ul.time-line {
    margin: 5px 0px;
    min-height: 1000px;
    width: 1200px;
}
.milestones ul.time-line li.milestone {
    width: 450px;
    position: absolute;
    left: 95px;
    top: 0;
    padding: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
    background: none repeat scroll 0 0 #FFFFFF;
}
.milestones ul.time-line li.milestone .marker {
    background-image: url("http://www.tienvooracht.nl/themes/sann/wp-content/themes/sann/images/indicator-right.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 28px;
    margin-top: -14px;
    position: absolute;
    right: -9px;
    top: 50%;
    width: 9px;
}
.milestones ul.time-line li.milestone.right {
    left: 615px;
}
.milestones ul.time-line li.milestone.tail0 {
    top: 40px;
}
.milestones ul.time-line li.milestone.tail1 {
    top: 90px;
}
.milestones ul.time-line li.milestone.tail2 {
    top: 600px;
}
.milestones ul.time-line li.milestone.right .marker{
    background-image: url("http://www.tienvooracht.nl/themes/sann/wp-content/themes/sann/images/indicator-left.png");
    left: -9px;
}
.milestones ul.time-line li.milestone .post-like {
    width: 434px;
    text-align: right;
    display: block;
}
.milestones ul.time-line li.milestone .post-like a,
.milestones ul.time-line li.milestone .post-like a:hover {
    color: #222222;
    text-decoration: none;
}
.comments {
    margin: 5px auto;
    line-height: 24px;
    color: #888888;
    font-family: Noticia Text,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.comment header {
    color: #222222;
    font-family: Noticia Text,sans-serif;
    font-size: 16px;
    font-weight: normal;
}
